/* default */
:root{
    --primary:#654aff;
    --font-sans-serif:Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
*{
    margin: 0;
}
/* default */
.fixed{
    position: fixed !important;
    animation: showHeader 1s linear ;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 99;
}

.wrapper-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: #fff;
    width: calc( 100% - 200px);
    z-index: 999;
    padding: 0 100px;
}
 
.wrapper-header .menu{
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}
#toggle-menu{
    display: none;

}

.nav-bar{
    margin-right: 30px;
}
.nav-bar .tag{
    text-decoration: none;
    color: black;
    background-color: transparent;
    user-select: none;
    font-family:Arial, Helvetica, sans-serif;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin-left:25px ;
}

.button-sign-up{
    display: inline-block;
    width: 100px;
    height: 100%;
    background-color: #654aff;
}

.nav-bar .tag:hover{
   border-bottom: 3px solid var(--primary);
}

.logo{
    background-image: url(/assets/ImageProJect/logo2.png);
    background-size: 100% 100%;
    width: 7rem;
    height: 4rem;
}

@keyframes showHeader   {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes showMenu{
    0%{
        opacity: 0;
        left: -100%;
    }
    100%{
        opacity: 1;

    }
}

@media screen and (max-width:700px) {
    .wrapper-header{
        position:relative;
        padding: 0 10px;
        width: calc(100% - 20px);
    }
    #toggle-menu{
        margin-right: 20px;
    }
    .wrapper-header .menu{
        visibility: visible;
        opacity: 1;
        margin-right:20px ;
    }
    .wrapper-header .nav-bar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
         ;
        background-color: #fff;
        transform-origin: top;
        transform: translateY(100%);
        opacity: 0;
        display: none;
    }
    #toggle-menu:checked ~.nav-bar{
        display: block;
        transform: scaleY(1);
        opacity: 1;
        animation: showMenu .4s linear;
    }
    .nav-bar .tag{
        display: block;
        width: 100%;
        margin: 0 20px;
    }
    .nav-bar .tag:hover{
        background-color: rgba(112, 38, 111, 0.251);
    }

}
